{{yield}}

<div class="game">
    <div class="feed">
        {{#each log as |str|}}
            <div class="message">{{str}}</div>
        {{/each}}

        <div class="compose">
            {{ input value=compose enter="sendCommand" }}
        </div>
    </div>

    <div class="interact">
        {{map-view}} 

        <!-- some other stuffs -->
        <div class="something"></div>
    </div>
</div>