{{yield}}

<div class="map" style={{style}}>
    {{#each tiles as |tileRow|}}
        {{#each tileRow as |t|}}
            <div class="tile" style={{tile-style t player}}>
                {{#if t.npc}}
                    <div class="npc"></div>
                {{/if}}

                {{#if (gt t.items.length 0)}}
                    <div class="item"></div>
                {{/if}}
            </div>
        {{/each}}
    {{/each}}
</div>